<!DOCTYPE html>
<html lang="da" ng-app="myShoppingList">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="styles.css"/>
<link href="https://fonts.googleapis.com/css?family=Contrail+One|Gloria+Hallelujah" rel="stylesheet">

</head>

<body>
<main ng-controller="myCtrl" class="container-fluid" >
  <div class="text-center">
                    <p class="headline">Shopping List Handler</p>
  </div>
  <div class="row">
                 <div class="col-md-4 side text-center">
                               <p class="headline">Add custom items to your shopping list! </p>
                         <input ng-model="addMe" class="text-center">          
                         <button class="add" ng-click="addItem()">add</button> 
                 </div>
    <div class="col-md-4 div1">

      <div class="row item" ng-repeat="food in products track by $index">
        <div class="listItem"><p class="listItemText">-{{food}}</p> </div>
        <div class="removeItem text-center" ng-click="removeItem($index)"><p>x</p></div>
      </div>



    </div>
    <div class="col-md-4 side">
      <p class="headline">Add premade recipes to your shopping list! </p>
        <button  ng-click="addRecipe()"><span class="button-margin">add bolognese </span></button>
    </div>
  </div>




</main>
<script type="text/javascript" src="js/app.js"></script>
</body>

</html>
