<!DOCTYPE html>
<html lang="da" ng-app="myShoppingList">

<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <script type="text/javascript" src="js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css"    />

</head>

<body>
  <main class="container-fluid">
<div class="row">
    <div class="col-md-4 mx-auto div1"   ng-controller="myCtrl">
      <ul>
        <li ng-repeat="food in products">{{food}}<span ng-click="removeItem($index)"> &nbsp;x</span></li>
      </ul>
      <input ng-model="addMe">
      <button ng-click="addItem()">add</button>
    </div>
  </div>
  </main>
</body>

</html>
