.div1 {
  background-color: grey;
  padding: 20px;
}

li {
  color: white;
}

button {
    background-color: #aae;
    border-style: groove;
    border-color: #aad;
    margin: 100px;
}

.button-margin{
    margin: 5px;
}